:root{
    --nav-height: 88px;
}

body {
    background-color: rgb(220, 210, 243);
    margin: 0;
    padding: 0;
    font-family: 'Libre Franklin', sans-serif;
    overflow-x: hidden;
}

header {
    position: fixed;
    width: 100%;
    margin: 0;
    z-index: 100;
}

.main-section{
    padding-top: var(--nav-height);
}

.nav-bar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    text-align: center;
    background-color: rgb(209, 193, 241);
    border-bottom: 1px solid rgb(180, 176, 176);
    padding: 0.3em 2em;
}

.logo {
    margin: auto 0;
    font-size: 1.1rem;
    font-weight: 600;
    color:rgb(71, 56, 63);
}

.links {
    width: 40%;
}

.ul-tag {
    list-style: none;
    display: flex;
    justify-content: space-between;
    margin-right: 1em;
}

a {
    color: white;
    font-weight:600;
    font-size: 0.9rem;
    text-decoration: none;
}

a:hover{
    color:rgb(71, 56, 63);
    font-weight: 700;
}


.about-container {
    display: flex;
    flex-direction: column-reverse;

}

.right-sec {
    text-align: center;
}


.right-sec img {
    width: 200px;
    border-radius: 200px;
    border: 10px solid white;
}

.left-sec h1 {
    font-family:'Libre Baskerville', serif;
    font-size: 1.5rem;
    margin-top: 1.3em;
    text-align: center;
    color:rgb(71, 56, 63);
}

.left-sec p {
    color: black;
    width: 60%;
    margin: 1.5em auto;
    text-align: center;
    line-height: 2.5;
}

.left-sec button {
    margin: 1em auto;
    border: 3px solid black;
    padding: 1.3em 2em;
    border-radius: 30px;
    display: block;
    font-size: 0.9rem;
    color: white;
    font-weight: 600;
    font-family: 'Libre Franklin', sans-serif;
    background-color: rgb(71, 56, 63);
    cursor: pointer;
}
.left-sec button:hover {
    background-color: rgb(186, 170, 226);
    
}

.menu-container {
    display: none;
}

.about-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 2em;
}

.skills-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 1em 3em;
}

.skills-title{
    text-align: center;
    margin-bottom: 2em;
}

.skills-item {
    display: flex;
    flex-direction: column;
    margin: 2em 2em;
    width: 60%;
}

.name {
    font-weight: 600;
    color: white;
    margin-bottom: 1em;
}

.bar-container {
    width: 100%;
    background-color: #ddd;
}

.progress-bar {
  background-color:rgb(71, 56, 63) ;
  color: white;
  text-align: right;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  padding-right: 0.5em;
  font-weight: 600;

}


.in-depth {
    text-align: center;
    color: white;
    margin: 3em 3em;
    line-height: 1.5em;
}


#projects {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-left: 2em;
}

.project-title  {
    margin-bottom: 0;
    margin-right: 1.5em;
}


.card-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap:wrap ;
    margin-top: 1em;
    margin-bottom: 3em;
}


.card {
    width: 20em;
    background-color: white;
    border-radius: 4em;
    overflow: hidden;
    box-shadow: 0.3em 0.3em 0.3em rgba(0, 0, 0, 0.3);
    margin: 2em;
    text-align: center;
    padding: 2em 1em;
}

.card img  {
    width: 50%;
    height: auto;
}

.card-content p { 
    color: black;
    margin: 1em 2em;
    font-size: 0.9rem;
}

.card-content button {
    border: 3px solid black;
    border-radius: 2em;
    background: none;
    padding: 1em 2em;
    font-size: 0.9rem;
    color: black;
    font-weight: 600;
    font-family: 'Libre Franklin', sans-serif;
}

.card-content button:hover {
    background-color: rgb(186, 170, 226);
    cursor: pointer;
}





#contact {
    display: flex;
    flex-direction: column;
    position: absolute;
    width: 100%;
    padding-top: 1em;
    padding-bottom:1em ;
    background-color: rgb(209, 193, 241);
    bottom: 0!;
    left: 0!;
    right: 0!;
}

#contact h1 {
    text-align: center;
}

.contact-container {
    display: flex;
    justify-content: space-around;
}

.details-container, .form-container {
    display: flex;
    flex-direction: column;
    gap: 1em;
    height: 100%;
}


.details-container img {
    width: 2rem;
}

.email, .location, .linkedin, .github {
    display: flex;
    align-items: center;
    gap: 1em;
    font-size: 0.9rem;
    cursor: pointer;
}

.email p, .location p {
    color: white;
    font-weight: 600;
}

.linkedin a , .github a{
    text-decoration: none;
    color: white;
}

.linkedin a:hover, .github a:hover {
    color: rgb(71, 56, 63);
}

form {
    display: flex;
    flex-direction: column;
    gap:1em;
}

form input, #user_msg  {
    padding: 1em 1em;
    width: 70%;
    border-radius: 1em;
    border: 1px solid black;
}

#sidebar {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.8);
    z-index: 1000;
}

@media (min-width:600px) and (max-width: 800px) {

    body {
        overflow-x: hidden;
    }

    #contact {
        padding-right: 1em;
        
    }

    .form-container {
        width: 40%;
    }
}

@media (min-width:420px) and (max-width:599px) {
    body {
        overflow-x: hidden;
    }

    .card {
        width: 15em;
    }

    #contact {
        padding-right: 1em;
    }

    .contact-container {
        flex-direction: column;
        align-items: center;
    }
    

    .form-container  h2 , .details-container h2{
        margin-top: 1.5em;
        text-align: center;
    }

    form {
        align-items: center;
    }

    form input {
        width: 60%;
    }


    
 

}

@media (min-width:319px) and (max-width:440px) {

 



    body {
        overflow-x: hidden;
    }

    .card {
        width: 15em;
        margin-left: 5em;
    }

    #contact {
        padding-left: 10%;
        padding-right: 10%;
    }


    .contact-container {
        flex-direction: column;
        align-items: center;
    }

    
    .form-container  h2 , .details-container h2{
        margin-top: 1.5em;
        text-align: center;
    }

    form {
        align-items: center;
    }

    form input {
        width: 50%;
    }

    #user_msg {
        width: 70%;
    }

    .skills-title h1 {
        margin-left: 1.5em;
    }


    .in-depth {
        font-size: 0.9rem;
        padding-left: 2.5em;
        margin-left: 0;
        margin-right: 0;
        width: 100%;
    }

    .about-container {
        margin-left: 5em;
    }


    
}


@media screen and (max-width:yourdevice-px) {
    @-ms-viewport{
        width:required-px;
    }
}

@media (max-width:598px) {
    
    #sidebar {
        
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 3em;
        
    }

    #sidebar img {
        width: 25px;
        position: absolute;
        top: 50px;
        right: 50px;
    }


    .left-sec p {
        line-height: 1.5;
        width: 90%;
    }

    .menu-container {
        display: block;
    }

    .menu-container img {
        width: 30px;
    }

    .menu-button {
        background: none;
        border: none;
    }

    .links {
        display: none;
    }

    .nav-bar {
        display: flex;
        text-align: center;
        padding: 1.2em 2em;
    }
}